* { box-sizing: border-box; }

.carousel {
  background: #e2e2e2 !important;
  margin-bottom: 13% !important;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}