
#videoDiv {
  width: 100vw;
  height: 80vh;
  position:
  relative;
  padding-top: 0px !important;
}

#video1 { 
  margin: auto; 
  display: block;
}

#videoMessage { 
  position: fixed; 
  top: 0; 
  left: 0; 
  padding-top: 12%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 0px;
    border: 0px;
    width: 80%; 
    min-width: 70vw;
    max-height: 65vh;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-dialog {
    margin-left: 9vw;
    max-width: 800px;
  }


.modal-body {
position:relative;
padding:0px;
}
.close-video-modal {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}



.modal-video-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden;
}
 
.modal-video-container iframe,
.modal-video-container object,
.modal-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.et_pb_button_0_wrapper{
  text-align: center !important;
  font-size: 1.5em;
}

#btn-video-modal{
    padding: 20px 50px 20px 50px !important;
    font-size: 1.2em !important;
}